/* Custom properties */
--


/* Set border-box*/
html{ 
    box-sizing: border-box;
}
*,
*:before,
*:after {
     box-sizing:inherit;
}

/* Footer */
.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}